.s-promo {
  padding: 1rem;
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 90 90'%3E%3Cpath fill='%2342A28E' d='M76.0156.713827C86.4281 4.39201 92.5305 23.1916 88.9886 37.4957 85.4466 51.7725 72.239 61.5538 61.8265 71.662 51.414 81.7974 43.754 92.2871 38.249 89.5625c-5.505-2.7246-8.8762-18.6907-16.7709-28.7989C13.5833 50.6282 1.16517 46.3234.0769831 40.629-.98987 34.9618 9.25192 27.8779 17.1466 24.1997c7.8948-3.6782 13.4424-3.9506 23.5775-9.8357C50.8592 8.47889 65.5818-2.96436 76.0156.713827z' opacity='.1'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 196 200'%3E%3Cpath fill='%2342A28E' d='M37.8346 9.88185C51.6637-1.38782 72.8643-2.35379 90.5315 3.63523 108.26 9.62426 122.393 22.5039 145.3 46.7176c22.906 24.2137 54.524 59.6974 50.321 88.9984-4.265 29.365-44.351 52.549-85.717 60.856-41.3651 8.307-83.949 1.803-100.6414-22.668-16.63148-24.471-7.31055-66.974.48736-98.98C17.6088 42.8537 24.0055 21.2159 37.8346 9.88185z' opacity='.1'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1440 770' preserveAspectRatio='none'%3E%3Cpath fill='%231D2F30' d='M1440 538.312s-316.27 33.177-515 79.442c-192.366 44.782-283.941 167.239-484.654 150.725C239.192 751.727 0 617.754 0 617.754V0h1440v538.312z'/%3E%3C/svg%3E");
  color: #fff;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 90px 90px, 200px 196px, cover;
  background-position: bottom 40% left 20%, top 15% right 10%, center;
  height: 100vh;
  min-height: 770px;
  max-height: 770px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__inner {
    width: 100%;
    max-width: 860px;
    margin: auto;
  }

  &__subtitle {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    display: block;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;

    span {
      color: $accent-color;
    }
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.5em;
    opacity: 0.75;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }
}