.s-page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 100;
  transition: 0.25s cubic-bezier(0,0,0,0.75);

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken($text-color, 5%);
    transform: scaleY(0);
    transition: 0.25s cubic-bezier(0, 0, 0, 0.75);
    transform-origin: center top;
    z-index: -1;
  }

  &__top {
    padding: 0 1rem;
  }

  &__top-inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(#fff, 0.125);

    @media only screen and (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__bottom {
    padding: 0 1rem;
  }

  &__bottom-inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  &__logo {
    transition: 0.25s cubic-bezier(0, 0, 0, 0.75);
    max-width: 6rem;

    @media only screen and (min-width: $screen-md) {
      transform: translateY(-5px);
    }

    img {
      display: block;
    }
  }

  &__hamburger {

    @media only screen and (min-width: $screen-md) {
      display: none;
    }
  }

  &__nav {
    display: none;

    @media only screen and (min-width: $screen-md) {
      display: block;
    }
  }

  &__nav-list {
    display: flex;

    li {
      font-size: ms(-1);
      line-height: 1.5em;
      font-weight: 500;
      color: currentColor;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      a {
        display: block;
        color: currentColor;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: -0.25rem;
          right: -0.25rem;
          bottom: -0.25rem;
          left: -0.25rem;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -0.125rem;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: $primary-color;
          transform: scaleX(0);
          transition: transform 0.25s ease-out;
          transform-origin: right center;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }
      }
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.5em;
    display: none;
    margin: 0;

    svg {
      fill: $primary-color;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.75rem;
      transform: translateY(-1px);
    }

    @media only screen and (min-width: $screen-sm) {
      display: block;
    }
  }

  &__phone {
    font-size: ms(-1);
    line-height: 1.5em;
    color: currentColor;
    display: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    svg {
      fill: $primary-color;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.75rem;
      transform: translateY(-1px);
    }

    @media only screen and (min-width: $screen-sm) {
      display: block;
    }
  }

  &__get-a-call {
    display: none;
    margin-left: 2.25rem;
    padding: 0.5rem 0.75rem;

    @media only screen and (min-width: $screen-md) {
      display: block;
    }
  }

  &--compact {

    &::before {
      transform: scaleX(1);
    }
  }
}