mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-inner
        address.s-page-header__address
          +svg-icon('location', '14', '14')
          | Санкт-Петербург, Волжский пер., дом 3
        a.s-page-header__phone(href='tel:+78124324342')
          +svg-icon('phone', '14', '14')
          | +7 (812) 432-43-42
    .s-page-header__bottom
      .s-page-header__bottom-inner
        .s-page-header__logo
          img(src='img/logo.svg', alt='Ortocross', width='200', height='43')
        +hamburger().s-page-header__hamburger
        nav.s-page-header__nav
          ul.s-page-header__nav-list
            li: a(href='/') Работы
            li: a(href='/') Контакты
        +btn('Обратный звонок', 'ghost').s-page-header__get-a-call

