.s-price {
  padding: 1rem;
  text-align: center;

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__subtitle {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    display: block;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-lg) {
      margin-bottom: 2.25rem;
    }

    span {
      color: $accent-color;
    }
  }

  &__card {
    background-color: $bg-color--shade;
    border-radius: 8px;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 0.75rem;
      }
    }
  }

  &__card-title {
    font-size: ms(-1);
    line-height: 1.4em;
    margin: 0;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(0);
    }
  }

  &__card-btn {
    padding: 1rem 3rem 1rem 1rem;
    margin: 0;
    width: 100%;
    position: relative;
    text-align: left;
    font-weight: 500;
    
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &:hover,
    &:focus {

      .s-price__card-btn-arrow {
        border: 1px solid $primary-color;
      }
    }

    &:active,
    &[aria-expanded='true'] {
      
      .s-price__card-btn-arrow {
        transform: translate3d(0,-50%,0) rotate3d(0,0,1,180deg);
        border: 1px solid $primary-color;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      padding: 1.5rem 4.5rem 1.5rem 2.25rem;
    }
  }

  &__card-btn-arrow {
    display: block;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate3d(0,-50%,0);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid $border-color;
    will-change: transform;
    transition: all 0.25s ease-out;
    transform-origin: center center;

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }

    @media only screen and (min-width: $screen-sm) {
      right: 1.5rem;
      width: 60px;
      height: 60px;
      border-radius: 60px;
    }
  }

  &__card-body {
    padding: 1rem;
    border-top: 1px solid $border-color;

    @media only screen and (min-width: $screen-sm) {
      padding: 1.5rem 2.25rem;
    }
  }

  &__table {
    display: block;
    width: 100%;
    overflow-x: auto;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;

    table {
      margin: 0;
      border: 0;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      padding: 0.75rem;
      vertical-align: top;
      border-bottom: 1px solid $border-color;

      &:not(:first-child) {
        border-left: 1px solid $border-color;
      }
    }

    th {
      text-align: left;
    }

    td:first-child {
      padding-left: 0;
    }

    td:last-child {
      text-align: center;
    }

    tbody,
    thead,
    tfoot {

      &:last-child {

        tr:last-child {

          td,
          th {
            border-bottom: 0;
          }
        }
      }
    }
  }
}