// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$denmark-name: 'denmark';
$denmark-x: 0px;
$denmark-y: 0px;
$denmark-offset-x: 0px;
$denmark-offset-y: 0px;
$denmark-width: 512px;
$denmark-height: 512px;
$denmark-total-width: 1028px;
$denmark-total-height: 512px;
$denmark-image: '../img/sprite-png.png';
$denmark: (0px, 0px, 0px, 0px, 512px, 512px, 1028px, 512px, '../img/sprite-png.png', 'denmark', );
$sweden-name: 'sweden';
$sweden-x: 516px;
$sweden-y: 0px;
$sweden-offset-x: -516px;
$sweden-offset-y: 0px;
$sweden-width: 512px;
$sweden-height: 512px;
$sweden-total-width: 1028px;
$sweden-total-height: 512px;
$sweden-image: '../img/sprite-png.png';
$sweden: (516px, 0px, -516px, 0px, 512px, 512px, 1028px, 512px, '../img/sprite-png.png', 'sweden', );
$spritesheet-width: 1028px;
$spritesheet-height: 512px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($denmark, $sweden, );
$spritesheet: (1028px, 512px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
