mixin mobile-menu()

  .s-mobile-menu
    span.s-mobile-menu__title Ortocross
    button.s-mobile-menu__close
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 14 14', width='14', height='14')
        path(d='M13.8131.212998L13.8074.20621l-.0062-.006251c-.2656-.2666119-.6739-.2666119-.9395 0L7.00036 6.08211 1.16991.199959c-.265667-.2666119-.673883-.2666119-.939549 0-.2649773.265919-.2648443.673698 0 .939691L6.06204 7.02304.198783 12.8762c-.2650439.266-.2650439.6737 0 .9397.144131.1446.328924.1841.485565.1841.156641 0 .341432-.0395.485562-.1841L13.8012 1.13965c.1241-.12451.1751-.297783.1751-.457963 0-.161434-.0513-.333927-.1632-.468689zM9.0407 9.07332c.26557-.2665.67357-.26661.93924-.0003l3.82126 3.80318c.2651.266.2651.6737 0 .9397-.1441.1446-.3289.1841-.4855.1841-.1567 0-.3415-.0395-.4856-.1841L9.0407 10.013c-.26504-.26597-.26504-.67369 0-.93968z')
    .s-mobile-menu__inner
      .s-mobile-menu__nav
        ul
          li: a(href='/') Работы
          li: a(href='/') Контакты
      .s-mobile-menu__contacts
        ul
          li
            span.s-mobile-menu__subtitle Адрес
            address.s-mobile-menu__address Санкт-Петербург, Волжский пер., дом 3
          li
            span.s-mobile-menu__subtitle Связаться
            a(href='tel:+78129810778') +7 (812) 981-07-78
            a(href='tel:+79516710778') +7 (951) 671-07-78
          li
            span.s-mobile-menu__subtitle E-mail
            a(href='mailto:ortocross@mail.ru') ortocross@mail.ru
      +btn('Обратный звонок', 'ghost').s-mobile-menu__get-a-call
      .s-mobile-menu__social
        span.s-mobile-menu__subtitle Соц. сети
        ul
          li
            a(href='https://instagram.com/ortocross?igshid=7bvglfmz2lsk', rel='noopener', target='_blank')
              +svg-icon('facebook', '8', '14')
          li
            a(href='https://business.facebook.com/ortocross/', rel='noopener', target='_blank')
              +svg-icon('vk', '23', '14')
          li
            a(href='https://vk.com/public193067201', rel='noopener', target='_blank')
              +svg-icon('instagram', '14', '14')
