.s-mobile-menu {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  top: 0.5rem;
  right: 0.5rem;
  width: calc(100% - 1rem);
  box-shadow:
    0 30px 60px -12px rgba($text-color, 0.15),
    0 18px 36px -18px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 3.75rem 1rem 1.5rem 1rem;
  pointer-events: none;
  opacity: 0;
  transform: scale(.95);
  transform-origin: 100% 0;
  transition: 0.25s ease-out;
  overflow-y: scroll;

  @media only screen and (min-width: $screen-sm) {
    width: 100%;
    max-width: 20rem;
  }

  &__title {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }

    svg {
      display: block;
    }
  }

  &__nav {
    border-bottom: 1px solid $border-color;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;

    ul {

      li {
        font-size: ms(-1);
        line-height: 1.5em;
        font-weight: 500;

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        a {
          display: inline-block;
          color: currentColor;
        }
      }
    }
  }

  &__contacts {
    margin-bottom: 1.5rem;

    ul {

      li {

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        address,
        a {
          font-size: ms(-1);
          line-height: 1.5em;
          display: block;
          margin: 0;
          color: currentColor;
          opacity: 0.75;

          &:not(:last-child) {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }

  &__subtitle {
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: block;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__get-a-call {
    width: 100%;
    color: $text-color;
    margin-bottom: 1.5rem;
  }

  &__social {
    display: flex;
    flex-flow: row wrap;

    ul {
      display: flex;
      flex-flow: row wrap;
      margin-left: 1rem;
      transform: translateY(-1px);

      li {

        &:not(:last-child) {
          margin-right: 1rem;
        }

        a {
          color: currentColor;

          svg {
            display: block;
            fill: currentColor;
          }
        }
      }
    }
  }

  &--is-active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}