.s-directions {
  padding: 1rem;
  text-align: center;

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__subtitle {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    display: block;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-lg) {
      margin-bottom: 2.25rem;
    }

    span {
      color: $accent-color;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 1rem;
  }
}