.s-btn {
  position: relative;
  display: inline-block;
  background-color: $accent-color;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 0.75rem 1rem;
  border: 1px solid $accent-color;
  border-radius: $border-radius;
  font-weight: 500;
  font-size: ms(-1);
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.25s cubic-bezier(0,0,0,0.75);
  transform-origin: center center;
  will-change: transform;

  &:hover,
  &:focus {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }

  &--ghost {
    background-color: transparent;
    border-color: $primary-color;
    color: #fff;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}