.s-team {
  padding: 1rem;
  text-align: center;
  position: relative;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  background-color: #f6f9f8;

  &::before {
    position: absolute;
    content: '';
    bottom: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 4.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1440 120' preserveAspectRatio='none'%3E%3Cpath fill='%23F6F9F8' d='M0 54.6975l48 3.6052c48 3.8773 144 10.6797 240 14.557 96 3.6053 192 3.6053 288-14.557C672 40.4125 768 3.67986 864 .278686 960-3.12249 1056 25.4474 1152 40.2085c96 14.489 192 14.489 240 14.489h48V120H0V54.6975z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  &::after {
    position: absolute;
    content: '';
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 4.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1440 120' preserveAspectRatio='none'%3E%3Cpath fill='%23F6F9F8' d='M1440 70.1335l-48-8.7667c-48-8.7667-144-26.3001-240-32.1628-96-5.6436-192-.1644-288 23.3961-96 23.5604-192 64.1059-288 67.2299-96 2.904-192-32.1632-288-40.9299S96 87.6667 48 96.4334L.0000013 105.2.0000105-.00012589 48-.00012169l240 .00002098 288 .00002518 288 .00002517 288 .00002518 240 .00002098L1440 0v70.1335z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__header {

    @media (min-width: $screen-xs) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__slider-navigation {
    display: none;

    @media (min-width: $screen-xs) {
      display: block;
    }
  }

  &__subtitle {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    display: block;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-lg) {
      margin-bottom: 2.25rem;
    }

    span {
      color: $accent-color;
    }
  }

  &__scrollbar {
    margin-top: 1.5rem;
    background-color: rgba($text-color, 0.125);
    height: 1px;

    .swiper-scrollbar-drag {
      background-color: $text-color;
    }
  }
}