.s-field-text {
  display: block;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.5em;
    padding: 0.75rem 1rem;
    font-family: inherit;
    background-color: $bg-color--shade;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
    }

    &::placeholder {
      color: $text-color;
      opacity: 0.5;
    }

    @at-root textarea#{&} {
      $textarea-height: 3rem;
      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
