.s-main {
  counter-reset: section;
  overflow: hidden;

  &__section {
    padding: 1rem 1rem 3rem 1rem;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 1rem;
    }

    @media only screen and (min-width: $screen-lg) {
      padding: 4.5rem 1rem;
    }

    &:first-child {

      .s-main__section-cover {

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 530 518' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M503.813 99.9915C533.678 136.54 536.238 192.57 520.367 239.262C504.496 286.114 470.365 323.468 406.198 384.006C342.032 444.544 248.001 528.106 170.353 516.997C92.5342 505.727 31.0983 399.785 9.08383 290.462C-12.9307 181.139 4.3055 68.5954 69.1545 24.4797C134.003 -19.4749 246.636 5.15901 331.451 25.7678C416.438 46.5376 473.778 63.4432 503.813 99.9915Z' fill='%2342A28E'/%3E%3C/svg%3E%0A");
          left: 25%;
          height: 150%;
          width: 100%;
          top: -25%;
        }

        &::after {
          padding-bottom: calc(100% / (4 / 3));
        }
      }
    }

    &:nth-child(2) {

      .s-main__section-cover {

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 640 540' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M548.3 94.4075C629.051 175.249 670.394 300.745 613.921 353.865C557.624 406.985 403.688 387.563 297.252 420.265C190.816 452.967 131.704 537.627 81.2132 539.951C30.722 542.275 -11.3246 462.097 2.7496 403.499C16.8238 344.735 87.1947 307.385 133.815 234.013C180.26 160.641 203.307 51.0816 275.085 14.3957C346.687 -22.2902 467.374 13.5657 548.3 94.4075Z' fill='%2367BEAC'/%3E%3C/svg%3E%0A");
          left: -25%;
          height: 150%;
          width: 150%;
          top: -25%;
        }

        &::after {
          padding-bottom: calc(100%);
        }
      }
    }

    &:nth-child(3) {

      .s-main__section-cover {

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 530 470' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M119.573 402.912C73.6014 371.476 7.1194 351.357 0.57729 325.928C-6.14164 300.64 47.0793 270.042 93.0509 201.301C139.023 132.561 177.745 25.8176 243.696 4.30133C309.825 -17.3547 403.182 46.3559 463.83 114.957C524.654 183.697 552.59 257.467 508.387 296.308C464.36 335.149 347.84 339.201 287.193 370.637C226.545 402.074 221.418 460.894 206.212 468.998C191.006 477.101 165.545 434.348 119.573 402.912Z' fill='%2367BEAC'/%3E%3C/svg%3E%0A");
          left: -25%;
          height: 150%;
          width: 150%;
          top: -25%;
        }

        &::after {
          padding-bottom: calc(100% / (16 / 9));
        }
      }
    }

    &:nth-child(4) {

      .s-main__section-cover {

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 640 470' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M528.193 10.1841C600.402 33.9234 660.391 104.086 633.412 151.96C606.433 199.835 492.803 225.42 420.595 286.747C348.386 348.073 317.598 445.141 262.212 465.715C206.984 486.157 126.84 430.106 71.6126 368.779C16.3849 307.453 -14.2442 240.851 6.54552 191.658C27.3353 142.333 99.3852 110.285 154.613 86.5455C209.841 62.8062 248.405 47.3757 309.98 28.2524C371.556 9.12904 455.985 -13.5552 528.193 10.1841Z' fill='%2367BEAC'/%3E%3C/svg%3E%0A");
          left: -25%;
          height: 150%;
          width: 150%;
          top: -25%;
        }

        &::after {
          padding-bottom: calc(100% / (3 / 4));
        }
      }
    }

    &:nth-child(6) {

      .s-main__section-cover {

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 640 470'%3E%3Cpath fill='%2367BEAC' d='M111.807 459.816C39.598 436.077-20.3907 365.914 6.58839 318.04 33.5674 270.165 147.197 244.58 219.405 183.253 291.614 121.927 322.402 24.8593 377.788 4.28526 433.016-16.1569 513.16 39.8942 568.387 101.221c55.228 61.326 85.857 127.928 65.067 177.121-20.789 49.325-92.839 81.373-148.067 105.112-55.228 23.74-93.792 39.17-155.367 58.294-61.576 19.123-146.005 41.807-218.213 18.068z' opacity='.1'/%3E%3C/svg%3E");
          left: -25%;
          height: 150%;
          width: 150%;
          top: -25%;
        }

        &::after {
          padding-bottom: calc(100%);
        }
      }
    }

    &:nth-child(7) {

      .s-main__section-cover {

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 640 568'%3E%3Cpath fill='%2367BEAC' d='M495.61 81.0768c55.513 37.9912 135.793 62.3052 143.693 93.0352 8.113 30.562-56.153 67.54-111.666 150.613-55.513 83.074-102.272 212.074-181.912 238.077-79.853 26.171-192.587-50.824-265.821-133.728C6.45619 346-27.2785 256.848 26.0992 209.908c53.1643-46.94 193.8678-51.836 267.1028-89.827C366.436 82.0899 372.628 11.0046 390.99 1.21142c18.362-9.79321 49.107 41.87448 104.62 79.86538z' opacity='.1'/%3E%3C/svg%3E");
          left: -25%;
          height: 150%;
          width: 150%;
          top: -25%;
        }

        &::after {
          padding-bottom: calc(100% / (3 / 4));
        }
      }
    }

    &--advantages {
      background-color: $text-color;
      color: #fff;
      text-align: center;
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
      padding: 1rem;

      @media only screen and (min-width: $screen-sm) {
        padding: 4.5rem 1rem;
      }

      &::before {
        position: absolute;
        content: '';
        bottom: calc(100% - 1px);
        left: 0;
        width: 100%;
        height: 4.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1440 120' preserveAspectRatio='none'%3E%3Cpath fill='%231D2F30' d='M0 54.6975l48 3.6052c48 3.8773 144 10.6797 240 14.557 96 3.6053 192 3.6053 288-14.557C672 40.4125 768 3.67986 864 .278686 960-3.12249 1056 25.4474 1152 40.2085c96 14.489 192 14.489 240 14.489h48V120H0V54.6975z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
      }

      &::after {
        position: absolute;
        content: '';
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        height: 4.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1440 120' preserveAspectRatio='none'%3E%3Cpath fill='%231D2F30' d='M1440 70.1335l-48-8.7667c-48-8.7667-144-26.3001-240-32.1628-96-5.6436-192-.1644-288 23.3961-96 23.5604-192 64.1059-288 67.2299-96 2.904-192-32.1632-288-40.9299S96 87.6667 48 96.4334L.0000013 105.2.0000105-.00012589 48-.00012169l240 .00002098 288 .00002518 288 .00002517 288 .00002518 240 .00002098L1440 0v70.1335z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
      }

      .s-main__section-content {
        padding: 0;

        &::before {
          left: 50%;
        }
      }

      .s-main__section-title {
        max-width: 860px;
        margin: auto;
        margin-bottom: 0.75rem;
      }
    }
  }

  &__section-inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__section-content {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: section;
      content: counter(section, decimal-leading-zero);
      font-variant-numeric: oldstyle-nums;
      font-feature-settings: 'onum';
      font-size: ms(5);
      line-height: 1em;
      font-weight: 500;
      color: $accent-color;
      opacity: 0.1;
      z-index: 0;
      transform: translateX(-50%);
    }

    @media only screen and (min-width: $screen-md) {
      padding-right: 1.5rem;
    }
  }

  &__section-subtitle {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    display: block;
  }

  &__section-title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;

    span {
      color: $accent-color;
    }
  }

  &__section-intro {
    font-size: ms(-1);
    line-height: 1.5em;
    opacity: 0.75;
    max-width: 860px;
    margin: auto;
    margin-bottom: 4.5rem;
  }

  &__section-desc {
    font-size: ms(-1);
    line-height: 1.5em;

    p {
      margin-top: 0.75rem;
    }

    b {
      font-weight: 500;
    }
  }

  &__section-list {
    margin-top: 0.75rem;

    li {
      position: relative;
      padding-left: 1.5rem;

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }

    &--checkbox-list {

      li {

        &::before {
          position: absolute;
          content: '';
          top: 0.05rem;
          left: 0;
          width: 0.75rem;
          height: 0.75rem;
          background-color: transparent;
          border: 1px solid $primary-color;
          border-radius: 2px;
        }
      }
    }

    &--mark-list {

      li {

        &::before {
          position: absolute;
          content: '';
          top: 4px;
          left: 0;
          width: 11px;
          height: 10px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 10'%3E%3Cpath fill='%2342A28E' d='M9.83582.248115L3.32588 6.8507 1.5741 4.7851C.8017 4.12369-.412381 4.894.139183 5.88553l2.082497 3.6062c.33073.44018 1.1042.88037 1.87553 0 .33073-.44017 6.62089-8.25323 6.62089-8.25323.7735-.880342-.2198-1.650643-.88228-.990385z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }

    &--bookmark-list {

      li {

        &:not(:first-child) {
          margin-top: 1.5rem;
        }

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 10px;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 20'%3E%3Cpath fill='%2342A28E' d='M0 0v20l5-5 5 5V0H0z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }

    &--ordered-list {
      counter-reset: number;

      li {
        list-style-type: none;
        position: relative;

        &::before {
          counter-increment: number;
          content: counters(number, '.') '.';
          font-size: inherit;
          line-height: inherit;
          position: absolute;
          top: 0;
          left: 0;
          font-variant-numeric: oldstyle-nums;
          font-feature-settings: 'onum';
          color: $primary-color;
          font-weight: 500;
        }
      }
    }
  }

  &__section-cover {
    position: relative;
    margin-bottom: 0.75rem;
    height: 300px;

    &::before {
      position: absolute;
      content: '';
      background-image: var(--image-bg-shape);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 150%;
      width: 100%;
      left: 25%;
      top: -25%;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: calc(100% / (var(--image-aspect-ratio)));
    }

    @media only screen and (min-width: $screen-md) {
      height: auto;
      margin-bottom: 0;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &__section-advantage-list {
    counter-reset: figure;
  }

  &__section-advantage-item {
    margin-bottom: 2.25rem;

    @media only screen and (max-width: ($screen-sm - 1)) {

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      --shape: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 90 90'%3E%3Cpath fill='%2342A28E' d='M89.6504 8.40717C92.5021 17.9247 76.9938 36.5644 76.2569 54.5263c-.769 17.9902 13.2012 35.3025 10.3815 35.472-2.8196.1977-22.4613-16.7475-39.5076-19.0351-17.0143-2.2876-31.4331 10.0541-39.09113 9.8564C.413705 80.6219-.451426 67.913.15737 55.7407.766166 43.5684 2.81685 31.9045 10.4749 22.387c7.6259-9.4894 20.8592-16.86052 38.0337-20.36252C65.683-1.47753 86.8307-1.08214 89.6504 8.40717z'/%3E%3C/svg%3E");
    }

    &:nth-child(2) {
      --shape: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 90 90'%3E%3Cpath fill='%2342A28E' d='M76.0156.713827C86.4281 4.39201 92.5305 23.1916 88.9886 37.4957 85.4466 51.7725 72.239 61.5538 61.8265 71.662 51.414 81.7974 43.754 92.2871 38.249 89.5625c-5.505-2.7246-8.8762-18.6907-16.7709-28.7989C13.5833 50.6282 1.16517 46.3234.0769831 40.629-.98987 34.9618 9.25192 27.8779 17.1466 24.1997c7.8948-3.6782 13.4424-3.9506 23.5775-9.8357C50.8592 8.47889 65.5818-2.96436 76.0156.713827z'/%3E%3C/svg%3E");
    }

    &:nth-child(3) {
      --shape: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 90 90'%3E%3Cpath fill='%2342A28E' d='M82.8023 20.0023c.3994 10.3866-10.7119 20.3795-8.9327 31.8562 1.8156 11.507 16.5218 24.4978 16.1224 30.8569-.4357 6.3591-16.0134 6.0866-32.3174 6.6922-16.3039.6057-33.3341 2.0895-44.3365-4.2697C2.29938 78.7788-2.67532 64.5768 1.4279 53.7965 5.53112 43.0163 18.7486 35.6578 29.751 25.2713 40.7534 14.8847 49.5771 1.43967 59.9986.107279 70.3837-1.19483 82.3666 9.58541 82.8023 20.0023z'/%3E%3C/svg%3E");
    }

    &:nth-child(4) {
      --shape: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 90 90'%3E%3Cpath fill='%2342A28E' d='M67.3735 37.7441C75.983 50.0126 87.8723 55.196 89.7329 62.2197c1.8607 7.0237-6.3073 15.8263-14.9483 17.8199-8.6094 1.9936-17.6604-2.8217-29.2343-.3987-11.5423 2.3923-25.6076 12.0844-33.9017 10.0908C3.32297 87.7381.76852 74.0587.137791 59.7967-.492938 45.5039.800055 30.6284 9.12568 18.36 17.4198 6.09151 32.715-3.56989 43.0589 1.27615 53.4029 6.12218 58.7326 25.4757 67.3735 37.7441z'/%3E%3C/svg%3E");
    }
  }

  &__section-advantage-cover {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0 auto 1.5rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      counter-increment: figure;
      content: counter(figure, decimal-leading-zero);
      font-variant-numeric: oldstyle-nums;
      font-feature-settings: 'onum';
      font-size: ms(-1);
      line-height: 1.5em;
      font-weight: 500;
      color: $primary-color;
      z-index: 1;
      transform: translate3d(-100%,-100%,0);
    }

    &::after {
      position: absolute;
      content: '';
      width: 90px;
      height: 90px;
      left: 50%;
      top: 50%;
      transform: translate3d(-1rem,-1rem,0);
      background-image: var(--shape);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 1;
      opacity: 0.1;
    }

    svg {
      fill: $primary-color;
      position: relative;
      z-index: 2;
    }
  }

  &__section-advantage-caption {
    max-width: 20rem;
    margin: auto;
  }

  &__section-advantage-title {
    font-size: ms(0);
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__section-advantage-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    opacity: 0.75;
    margin: 0;
  }
}