//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/social/social.pug
include ../blocks/main/main.pug
include ../blocks/we-will-call-you/we-will-call-you.pug
include ../blocks/intro/intro.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/map/map.pug
include ../blocks/directions/directions.pug
include ../blocks/direction-card/direction-card.pug
include ../blocks/team/team.pug
include ../blocks/doctor-card/doctor-card.pug
include ../blocks/price/price.pug
include ../blocks/top-contacts/top-contacts.pug
include ../blocks/slider-navigation/slider-navigation.pug
