mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__content
      .s-page-footer__content-inner
        .s-page-footer__block
          address.s-page-footer__address
            +svg-icon('location', '14', '14')
            | Санкт-Петербург, Волжский пер., дом 3
            span (с 10:00-18:00)
          .s-page-footer__contacts
            +svg-icon('phone', '14', '14')
            ul.s-page-footer__phone-list
              li: a(href='tel:+78129810778') +7 (812) 981-07-78
              li: a(href='tel:+79516710778') +7 (951) 671-07-78
        .s-page-footer__block
          ul.s-page-footer__social-list
            li
              a(href='https://instagram.com/ortocross?igshid=7bvglfmz2lsk', rel='noopener', target='_blank')
                +svg-icon('facebook', '8', '14')
            li
              a(href='https://business.facebook.com/ortocross/', rel='noopener', target='_blank')
                +svg-icon('vk', '23', '14')
            li
              a(href='https://vk.com/public193067201', rel='noopener', target='_blank')
                +svg-icon('instagram', '14', '14')
          a.s-page-footer__e-mail(href='mailto:ortocross@mail.ru') ortocross@mail.ru
    .s-page-footer__privacy
      .s-page-footer__privacy-inner
        .s-page-footer__warning Предупреждаем о необходимости получения консультации у специалиста по оказываемым услугам и противопоказаниям.
        .s-page-footer__created
          span Created by
          a(href='/') Springbay Agency




