.s-page-footer {

  &__content {
    padding: 0 1rem;
  }

  &__content-inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__block {
    text-align: center;
    padding: 1.5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    @media only screen and (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.5em;
    position: relative;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }

    svg {
      display: inline-block;
      margin-right: 0.75rem;
      fill: $primary-color;
      transform: translateY(-2px);
    }

    span {
      display: block;
      opacity: 0.5;
      font-variant-numeric: oldstyle-nums;
      font-feature-settings: 'onum';

      @media only screen and (min-width: $screen-md) {
        display: inline-block;
        margin-left: 0.5rem;
      }
    }
  }

  &__contacts {

    @media only screen and (min-width: $screen-md) {
      display: flex;
      align-items: center;
    }

    svg {
      display: none;
      fill: $primary-color;
      transform: translateY(1px);

      @media only screen and (min-width: $screen-md) {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
      }
    }
  }

  &__phone-list {
    position: relative;

    li {
      font-size: ms(-1);
      line-height: 1.5em;
      display: inline-block;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 0.75rem;
      }

      a {
        display: block;
        color: currentColor;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          bottom: -0.125rem;
          width: 100%;
          background-color: currentColor;
          height: 1px;
          opacity: 1;
          transition: all 0.25s ease-out;

          @media only screen and (min-width: $screen-md) {
            opacity: 0;
          }
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }

        @media only screen and (min-width: $screen-md) {

          &:hover,
          &:focus {
            opacity: 1;
          }
        }
      }
    }
  }

  &__social-list {
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-md) {
      margin: 0;
    }

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2.25rem;

        @media only screen and (min-width: $screen-md) {
          margin-right: 1rem;
        }
      }

      a {
        display: block;
        color: currentColor;

        svg {
          fill: currentColor;
          display: block;
        }
      }
    }
  }

  &__e-mail {
    font-size: ms(-1);
    line-height: 1.5em;
    display: inline-block;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__privacy {
    background-color: $bg-color--dark;
    color: #fff;
    padding: 1rem;
  }

  &__privacy-inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    text-align: center;

    @media only screen and (min-width: $screen-lg) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }
  }

  &__warning {
    font-size: ms(-2);
    line-height: 1.5em;
    opacity: 0.75;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-lg) {
      margin: 0;
      font-size: ms(-1);
    }
  }

  &__created {
    font-size: ms(-1);
    line-height: 1.5em;

    span {
      opacity: 0.5;
    }

    a {
      color: currentColor;
      font-weight: 500;
    }
  }
}