mixin direction-card(props)
  
  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

  a.s-direction-card(href='/')&attributes(attributes)
    span.s-direction-card__icon!= props.svg
    span.s-direction-card__caption
      h3.s-direction-card__title #{props.title}
      span.s-direction-card__arrow
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='18', height='8', stroke='#1d2f30')
          path(stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
