.s-direction-card {
  display: block;
  color: $text-color;
  text-decoration: none;
  background-color: $bg-color--shade;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.25s ease-out;
  text-align: left;

  @media only screen and (min-width: $screen-sm) {
    padding: 1.5rem;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: $primary-color;

    .s-direction-card__icon {
      
      svg {
        fill: #fff;
      }
    }

    .s-direction-card__title {
      color: #fff;
    }

    .s-direction-card__arrow {

      svg {
        stroke: #fff; 
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 70px;
    margin-bottom: 0.75rem;
    width: 100%;

    svg {
      fill: $primary-color;
    }
  }

  &__caption {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding-right: 1.5rem;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    color: $text-color;
  }

  &__arrow {
    display: inline-block;
    font-size: ms(-1);
    line-height: 1.4em;
    vertical-align: middle;
  }
}