.s-map {
  padding: 1.5rem 1rem;

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__map {
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}