.s-we-will-call-you {
  padding: 3rem 1rem;
  text-align: center;

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__subtitle {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    display: block;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__form-field {
    margin-bottom: 0.75rem;
  }

  &__form-submit {
    width: 100%;
  }
}