.s-intro {
  padding: 2.25rem 1rem;

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__section {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-md) {
      padding: 2.25rem 0;
    }

    &--accent {
      background-color: $primary-color;
      color: #fff;
      padding: 1rem;
      border-radius: 8px;
      position: relative;
      margin-bottom: 0;
      overflow: hidden;

      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.1;
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 466 466'%3E%3Cpath fill='%23fff' d='M366.501 71.1455c46.203 44.1875 92.539 97.4275 98.762 157.7255 6.222 60.451-27.67 128.113-73.741 163.402-46.071 35.288-104.454 38.204-174.885 52.166-70.298 13.808-152.7757 38.817-190.5064 3.529C-11.6 412.679-4.58342 317.092 22.5562 253.113c27.1396-63.98 74.5346-96.507 112.2648-140.848C172.552 68.077 200.618 12.2287 237.555 1.79556 274.491-8.48419 320.43 26.8045 366.501 71.1455z' /%3E%3C/svg%3E");
        transform: translate3d(-50%,-50%,0);
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 466 466'%3E%3Cpath fill='%23fff' d='M431.242 82.7932c35.692 50.7078 37.923 114.2208 32.569 172.8168-5.465 58.494-18.403 112.173-54.095 152.739-35.691 40.669-94.136 68.328-136.52 53.679-42.495-14.546-69.04-71.503-122.578-112.07-53.5367-40.669-134.0656-65.049-148.23063-102.44-14.27657-37.494 37.92213-87.894 91.45933-138.602C147.384 58.2075 202.259 7.19208 264.385.738325 326.399-5.81787 395.551 32.0851 431.242 82.7932z'/%3E%3C/svg%3E");
        transform: translate3d(-45%, -40%, 0);
      }

      .s-intro__section-title {

        span {

          &::after {
            background-color: #fff;
          }
        }
      }

      .s-intro__section-desc {
        font-weight: 500;
      }

      @media only screen and (min-width: $screen-sm) {
        padding: 2.25rem;
      }

      @media only screen and (min-width: $screen-md) {
        padding: 2.25rem;
      }
    }
  }

  &__section-title {
    font-size: ms(0);
    line-height: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;

    span {
      position: relative;

      &::after {
        position: relative;
        content: '';
        background-color: $accent-color;
        height: 1px;
        width: 2.5rem;
        right: 0;
        margin-left: 0.75rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &__section-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    margin: 0;
    padding-right: 0.75rem;
  }
}