@font-face {
  font-family: Geometria;
  src: url('../fonts/geometria.woff2') format('woff2'),
    url('../fonts/geometria.woff') format('woff'),
    url('../fonts/geometria.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  src: url('../fonts/geometria-medium.woff2') format('woff2'),
    url('../fonts/geometria-medium.woff') format('woff'),
    url('../fonts/geometria-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  src: url('../fonts/geometria-bold.woff2') format('woff2'),
    url('../fonts/geometria-bold.woff') format('woff'),
    url('../fonts/geometria-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}