$modularscale: (
  base: 1em,
  ratio: $augmented-fourth
);

body {
  word-break: break-word;
}

p {
  margin-top: 1rem;
}

// Text links
p a,
li a {

  &:hover,
  &:focus {}
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
}

// Heading level 1
h1 {
  font-size: ms(4);
  line-height: 1.1em;
}

// Heading level 2
h2 {
  font-size: ms(3);
  line-height: 1.1em;
}

// Heading level 3
h3 {
  font-size: ms(2);
  line-height: 1.1em;
}

// Heading level 4
h4 {
  font-size: ms(1);
  line-height: 1.3em;
}

// Heading level 5
h5 {
  font-size: ms(0);
  line-height: 1.4;
}

// Heading level 6
h6 {
  font-size: ms(0);
  line-height: 1.4em;
}

// Definition lists
dl {

  dt,
  dd {
    margin-left: 0;
  }

  dt {
    font-weight: 700;
  }

  dd + dt {
    padding-top: 0.5rem;
  }
}