mixin doctor-card(photo, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-doctor-card--' + modsList[i].trim();
      }
    }

  .s-doctor-card&attributes(attributes)
    .s-doctor-card__photo
      img(src=photo, alt='', width='280', height='370')
    .s-doctor-card__info
      h3.s-doctor-card__name Козлов Олег Алексеевич
      span.s-doctor-card__direction Врач, травматолог-ортопед
      dl.s-doctor-card__data-list
        .s-doctor-card__data-group
          dt.s-doctor-card__data-term Полных лет
          dd.s-doctor-card__data-desc 39 лет
        .s-doctor-card__data-group
          dt.s-doctor-card__data-term Опыт работы
          dd.s-doctor-card__data-desc 14 лет
        .s-doctor-card__data-group
          dt.s-doctor-card__data-term Направление
          dd.s-doctor-card__data-desc Стопа
        .s-doctor-card__data-group
          dt.s-doctor-card__data-term Кол-во сделанных операций
          dd.s-doctor-card__data-desc 4 000