.s-doctor-card {
  background-color: darken($bg-color--shade, 5%);
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid rgba($border-color, 0.125);

  &__photo {
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  &__info {
    padding: 20px;
  }

  &__name {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 500;
    margin: 0;
  }

  &__direction {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    display: block;
  }

  &__data-list {
    font-size: 14px;
    line-height: 1.4em;
    border-radius: 8px;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid rgba($border-color, 0.125);
  }

  &__data-group {

    &:not(:last-child) {
      // margin-bottom: 5px;
    }
  }

  &__data-term {
    font-weight: 400;
    display: inline-block;

    &::after {
      content: ':';
    }
  }

  &__data-desc {
    color: $primary-color;
    display: inline-block;
    font-weight: 500;
  }
}