.s-hamburger {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0,-50%,0);
    border-radius: $border-radius;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      right: 0;
      background-color: inherit;
      border-radius: $border-radius;
    }

    &::before {
      top: -7px;
      width: 60%;
    }

    &::after {
      bottom: -7px;
      width: 80%;
    }
  }
}